body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 0.9rem;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#helloDiv {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#pic {
    border-radius: 50%;
}

#details {
    display: flex;
    justify-content: center;
    margin: 5vh 1vw 5vh 1vw;
    text-align: center;
}

#social {
    display: flex;
    justify-content: center;
}

.icon {
    background-color: white;
    max-width: 50px;
    max-height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25%;
}

.icon:hover {
    transform: scale(1.1)
}

#cv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4vh;
}

#cv a {
    color: darkgrey;
    text-decoration: none;
}

#cv a:hover {
    color: darkslategray;
}